extends layout

block content

    .container

        .glasses
            .glasses__wrapper

                svg.top(width='431', height='245', viewbox='0 0 431 245', xmlns='http://www.w3.org/2000/svg')
                    path(d='M208.796 173.275c-.613 2.49-.303 5.14.933 7.366 51.783 37.783 82.325 27.872 86.589 23.735 2.313-2.245 4.237-5.693 4.237-5.693 2.379-3.03 10.769-31.64 43.594-36.659 1.636-2.982 2.688-5.767 2.892-8.206 1.52-18.196-18.19-32.922-54.999-50.26-36.822-17.325-47.216-6.278-47.216-6.278-20.191 16.065-32.872 63.101-36.029 75.995m.934 7.367l-.001-.001.001.001m136.064 48.157c1.325 11.996 22.088 12.88 31.144 10.58 12.408-3.145 32.911-37.796 43.098-55.238 10.173-17.429-30.767-20.276-32.807-20.25-2.053.026-6.159-.897-14.409 7.798-7.016 7.395-23.504 46.608-26.48 54.12-.377.949-.65 1.976-.546 2.989m-304.695-223.041s8.77-10.073 24.362-3.574l161.235 64.528c.127.022.255.025.378.071 12.195 4.687 89.724 34.985 112.817 56.516l.112.094c1.054.781 17.164 12.944 17.998 26.807l-.001-.069c4.173.958 8.315 2.69 10.627 3.744-.463-.22-.716-.322-.716-.322 29.451-3.257 49.776 10.144 49.776 10.144l-.018-.003c4.926 2.615 9.403 6.291 12.49 11.465 1.117 1.885 1.143 4.146-.039 6.122-6.782 11.23-32.885 52.444-48.906 61.178l-.221.104c-3.651 1.573-30.274 7.941-39.953-10.411-.989-1.86-1.412-3.937-1.298-5.997l-.009.018c-1.121-53.052 14.837-56.494 21.14-55.805-1.523-1.226-4.015-1.908-6.022-2.091-1.997-.183-3.493 1.08-4.962 2.445-1.385 1.284-3.298 3.23-5.47 5.919-3.963 4.913-14.513 14.7-15.072 15.194-.572.494-20.269 18.443-25.401 21.77-4.846 3.145-10.498 9.748-36.029 4.146-17.411-3.821-51.569-17.351-63.094-32.493-7.523-9.891-3.248-20.64-3.248-20.64l16.085-44.84s5.296-12.275-8.543-20.584l-.135-.045c-13.259-5.906-73.773-32.652-97.226-37.461-.609-.126-4.681-1.061-5.764-2.177l-21.577-27.674c-.314-.403-3.642-4.426-3.971-4.818-3.543-4.229-27.452-21.735-35.445-9.89-8.361 12.39-26.755 47.218-28.458 50.449-.088.169-.199.304-.346.425-1.715 1.413-12.998 10.142-15.697-2.459 0 0-4.223-11.048 40.603-59.787', fill='#1A10AF', opacity='.4')

                svg.bottom(width='431', height='245', viewbox='0 0 431 245', xmlns='http://www.w3.org/2000/svg')
                    path(d='M208.518 173.275c-.613 2.49-.303 5.14.933 7.366 51.783 37.783 82.325 27.872 86.589 23.735 2.313-2.245 4.237-5.693 4.237-5.693 2.379-3.03 10.769-31.64 43.594-36.659 1.636-2.982 2.688-5.767 2.892-8.206 1.52-18.196-18.19-32.922-54.999-50.26-36.822-17.325-47.216-6.278-47.216-6.278-20.191 16.065-32.872 63.101-36.029 75.995m.934 7.367l-.001-.001.001.001m136.064 48.157c1.325 11.996 22.088 12.88 31.144 10.58 12.408-3.145 32.911-37.796 43.098-55.238 10.173-17.429-30.767-20.276-32.807-20.25-2.053.026-6.159-.897-14.409 7.798-7.016 7.395-23.504 46.608-26.48 54.12-.377.949-.65 1.976-.546 2.989m-304.695-223.041s8.77-10.073 24.362-3.574l161.235 64.528c.127.022.255.025.378.071 12.195 4.687 89.724 34.985 112.817 56.516l.112.094c1.054.781 17.164 12.944 17.998 26.807l-.001-.069c4.173.958 8.315 2.69 10.627 3.744-.463-.22-.716-.322-.716-.322 29.451-3.257 49.776 10.144 49.776 10.144l-.018-.003c4.926 2.615 9.403 6.291 12.49 11.465 1.117 1.885 1.143 4.146-.039 6.122-6.782 11.23-32.885 52.444-48.906 61.178l-.221.104c-3.651 1.573-30.274 7.941-39.953-10.411-.989-1.86-1.412-3.937-1.298-5.997l-.009.018c-1.121-53.052 14.837-56.494 21.14-55.805-1.523-1.226-4.015-1.908-6.022-2.091-1.997-.183-3.493 1.08-4.962 2.445-1.385 1.284-3.298 3.23-5.47 5.919-3.963 4.913-14.513 14.7-15.072 15.194-.572.494-20.269 18.443-25.401 21.77-4.846 3.145-10.498 9.748-36.029 4.146-17.411-3.821-51.569-17.351-63.094-32.493-7.523-9.891-3.248-20.64-3.248-20.64l16.085-44.84s5.296-12.275-8.543-20.584l-.135-.045c-13.259-5.906-73.773-32.652-97.226-37.461-.609-.126-4.681-1.061-5.764-2.177l-21.577-27.674c-.314-.403-3.642-4.426-3.971-4.818-3.543-4.229-27.452-21.735-35.445-9.89-8.361 12.39-26.755 47.218-28.458 50.449-.088.169-.199.304-.346.425-1.715 1.413-12.998 10.142-15.697-2.459 0 0-4.223-11.048 40.603-59.787', fill='#00A8FF', opacity='.4')

        .info
            | Hi there, my name is Ross Fishkind! I’ve been designing and engineering for 10 years, and have extensively honed my skills and ironic tendencies. I’m currently employed as a UX Designer at <a href="http://www.thestorefront.com" target="_blank">Storefront</a>, analyzing data, doing user studies, and coming up with simple solutions to big problems.

            br 
            br

            | On the side, I am working on a project called <a href="http://www.faqt.co" target="_blank">Faqt</a>, which acts as a knowledge-base for teams. It’s super cool, you should really check it out.

            br 
            br

            | If you want to see some of my work, or get in touch, feel free to reach out on the following networks:

            br
            br

            | <a href="http://www.twitter.com/rossfishkind" target="_blank">Twitter</a> &nbsp; <a href="http://www.dribbble.com/rossfishkind" target="_blank">Dribbble</a>